{% load static %}

<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Your Website 2021</div>
            <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!----Arquivos basicos JS chamdos de fora ----->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>

<!----Arquivos basicos JS na pasta STATIC ----->
<script type="text/javascript" src="{% static 'js2/scripts.js' %}"></script>
<script type="text/javascript" src="{% static 'assets2/demo/chart-area-demo.js"></script>
<script type="text/javascript" src="{% static 'assets2/demo/chart-bar-demo.js' %}"></script>
<script type="text/javascript" src="{% static 'js2/datatables-simple-demo.js' %}"></script>