{% load static %}
{% load humanize %}

<div class="col-lg-4">
    <div class="blog_right_sidebar">
        <aside class="single_sidebar_widget search_widget">
            <form action="{% url 'post_busca' %}">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <input name="termo" value="{{ request.GET.termo }}" class="form-control mr-sm-2" type="search" placeholder="Pesquisar"
                            onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Pesquisar'">
                       
                    </div>
                </div>
                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                    type="submit">Buscar</button>
            </form>
        </aside>

      
        <aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">Categorias</h4>
            <ul class="list cat-list">
                <li>
                    <a href="{% url 'novidades' %}" class="d-flex">
                        <p>Novidades</p>
                        
                    </a>
                </li>
                <li>
                    <a href="{% url 'windows' %}" class="d-flex">
                        <p>Windows</p>
                       
                    </a>
                </li>

                <li>
                    <a href="{% url 'linux' %}" class="d-flex">
                        <p>Linux</p>
                        
                    </a>
                </li>

                <li>
                    <a href="{% url 'desenvolvimento' %}" class="d-flex">
                        <p>Desenvolvimento</p>
                        
                    </a>
                </li>

                <li>
                    <a href="{% url 'tutoriais' %}" class="d-flex">
                        <p>Tutoriais</p>
                       
                    </a>
                </li>

            </ul>
        </aside>

        <aside class="single_sidebar_widget popular_post_widget">
                <h3 class="widget_title">Últimas Postagens</h3>
            {% for post in posts %}<!-- a varialvel post faz referencia ao que deve ser usado no html e o pots ta sendo trazido da viewr com a pesquisa-->
                <div class="card">
                    {% if post.imagem_post %}   
                        <a href="{% url 'post_detalhes' post.id %}">
                            <img class="card-img-top"
                                    src="{{ post.imagem_post.url }}"
                                    alt="{{ post.titulo_post }}">
                        </a>
                    {% endif %}      
    
                    <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'post_detalhes' post.id %}">
                            {{ post.titulo_post }}
                        </a>
                    </h5>
                    <p class="card-text">{{ post.exerto_post }}</p>
                    <p class="card-text">
    
                        <small class="text-muted">
    
                            {{ post.data_post|naturalday|title }}<!--usa o metodo humanize referenciado no instal apps para formatar a data-->
                            |
                            {{ post.numero_comentarios }} Comentário(s)
                            <!-- esse jeito abaixo apenas conta quantos comentarios tem o post o no acima separa os comentarios publicados ou não-->
                            <!--{{ post.comentario_set.count }} Comentário(s)<!-- conta e mostra quantos comentarios existem pra determinado post, obs:comentario é um foreidkey -->
                            |
                            {{ post.categoria_post }}<!--lista e associa a categoria cadastrada pra determinadado post, obs: categoria é um foreidkey -->
    
                        </small>
    
                    </p>
    
                    </div>
                </div>

            {% endfor %}    
         </aside>    
    
            
        <!--/FOR LOOP-->
       
    </div>
</div>